{% if title == 'Posible positivo' and messages %}
    {% for message in messages %}
        <script>
            alert('{{message}}')
            window.location.replace("https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/documentos/20200325_Decalogo_como_actuar_COVID19.pdf");
        </script>
    {% endfor %}
{% else %}
    {% for message in messages %}
        <script>
            alert('{{message}}')
            window.location.replace("https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov-China/ciudadania.htm");
        </script>
    {% endfor %}
{% endif %}