{% load static %}
{% include 'superior.html' %}
<!--
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
 __  .__   __.  __    ______  __    ______   
|  | |  \ |  | |  |  /      ||  |  /  __  \  
|  | |   \|  | |  | |  ,----'|  | |  |  |  | 
|  | |  . `  | |  | |  |     |  | |  |  |  | 
|  | |  |\   | |  | |  `----.|  | |  `--'  | 
|__| |__| \__| |__|  \______||__|  \______/  

 Este archivo será la página de inicio de la app.
 Carga contenido estático.
 Incluye cabecera y pié.

 Contiene: 
 - Sección banner
 - Sección contenido principal (Vacía, al menos por ahora)
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-->

<!-- Banner -->
<section id="banner">
    <h2>COVIDTESTER</h2>
    <p>Mediante un test online de diagnóstico y otras preguntas relacionadas tú mismo puedes hallar los primeros indicios de contagio por COVID-19.</p>
    <h3>Si tienes síntomas de coronavirus SARS CoV-2 o has estado en contacto con una persona afectada deberías hacer un control y seguimiento diario de tus síntomas.</h3>
    <p>Aquí puedes encontrar nuestro test online gratuito:</p>
    <ul class="actions">
        <li>
            <a href="{% url 'AutoTest' %}" class="button special">Hacer test</a>
        </li>
    </ul>
</section>

<!-- Main -->
<section id="main" class="container">
</section>

{% include 'inferior.html' %}