{% load static %}
{% include 'superior.html' %}
<!--
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
     ___       __    __  .___________.  ______   .___________. _______      _______..___________.
    /   \     |  |  |  | |           | /  __  \  |           ||   ____|    /       ||           |
   /  ^  \    |  |  |  | `---|  |----`|  |  |  | `---|  |----`|  |__      |   (----``---|  |----`
  /  /_\  \   |  |  |  |     |  |     |  |  |  |     |  |     |   __|      \   \        |  |     
 /  _____  \  |  `--'  |     |  |     |  `--'  |     |  |     |  |____ .----)   |       |  |     
/__/     \__\  \______/      |__|      \______/      |__|     |_______||_______/        |__|    

 Este archivo contiene el formulario principal para el AutoTest.
 Carga contenido estático.
 Incluye cabecera y pié.

 Contiene: 
 -
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-->


{% include 'inferior.html' %}