{% load static %}
{% include 'superior.html' %}
<!--
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
  ______   ______   .__   __.  _______   __    ______  __    ______   .__   __.  _______      _______.
 /      | /  __  \  |  \ |  | |       \ |  |  /      ||  |  /  __  \  |  \ |  | |   ____|    /       |
|  ,----'|  |  |  | |   \|  | |  .--.  ||  | |  ,----'|  | |  |  |  | |   \|  | |  |__      |   (----`
|  |     |  |  |  | |  . `  | |  |  |  ||  | |  |     |  | |  |  |  | |  . `  | |   __|      \   \    
|  `----.|  `--'  | |  |\   | |  '--'  ||  | |  `----.|  | |  `--'  | |  |\   | |  |____ .----)   |   
 \______| \______/  |__| \__| |_______/ |__|  \______||__|  \______/  |__| \__| |_______||_______/   
                                                                                                 
 Este archivo contiene un documento legal en el que se detallan los derechos de los usuarios así como
 otros hechos de interés, como a quien pertenece la página o para que se utilizarán los datos cosechados.

 *** IMPORTANTE ***
 Este documento no tiene ninguna validez legal. Es una copia vagamente camuflada que sirve como ejemplo,
 pero en ningún caso debe ser utilizado por el público general.
 Este tipo de documentos suelen redactarlos personas con los conocimientos adecuados. Yo no tengo esos
 conocimientos, ESTO ES UNA SIMULACIÓN.
 
 Contiene:
 - Un link para volver a la página de origen
 - Un tocho super guapo que nadie leerá nunca
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-->


<div style="margin: 60px;">
    <p>·</p>
    <a href="javascript:history.back()" style="color: #24536B;"><strong><--Volver</strong></a>
    <p></p>
    <div>
        <p>
            AL DESCARGAR Y USAR LA WEB Y LA APLICACIÓN MÓVIL COVIDTESTER MANIFIESTAS
            QUE HAS LEÍDO Y ACEPTAS ESTAS CONDICIONES DE USO Y LA POLÍTICA DE PRIVACIDAD.
            AQUÍ SE RECOGE TODA LA INFORMACIÓN RELATIVA A TUS DERECHOS Y OBLIGACIONES COMO
            USUARIO REGISTRADO DE DICHA WEB Y APLICACIÓN, ASÍ COMO AL USO DE NUESTROS
            SERVICIOS.
        </p>
    </div>
    <ol>
        <li>
            <div>
                Deber de información general
            </div>
            <div>
                <p>
                    Las presentes condiciones generales regulan el uso de la Web y la aplicación
                    COVIDTESTER, aplicación para móviles, con el objeto de que los usuarios
                    puedan disfrutar de las ventajas y beneficios de la misma. En el momento en que
                    un usuario decida hacer uso de la Web o la instalación de COVIDTESTER,
                    deberá aceptar las presentes condiciones.
                </p>
                <p>
                    Asimismo, las condiciones generales se complementan con la política de
                    privacidad de la página web (https://HOST/index.html )
                </p>
            </div>
        </li>
        <li>
            <div>
                Acerca de COVIDTESTER
            </div>
            <ol>
                <li>
                    <span>
                        ¿Qué es COVIDTESTER?
                    </span>
                    <div>
                        <p>
                            COVIDTESTER es un proyecto llevado a cabo por el tres estudiantes, con el objetivo de reducir el volumen de
                            llamadas al número de emergencias sanitarias que trata las dudas sobre la
                            enfermedad infecciosa COVID-19 (de la familia de infecciones del Coronavirus),
                            tranquilizar a la población, permitir un triaje inicial de posibles casos y un
                            seguimiento posterior.</p>
                        <p>
                            Asimismo, COVIDTESTER ha sido concebida como una herramienta para la
                            divulgación de conocimiento sobre el COVID-19, sus sintomatología y formas de
                            prevención, así como la divulgación de información oficial sobre la situación
                            actual y noticias en Navarra.
                        </p>
                        <p>
                            <span>
                                AVISO IMPORTANTE:
                            </span>
                            <span>
                                El USUARIO queda apercibido de que la utilización de la Aplicación
                            </span>
                            <span>
                                NO CONSTITUYE EN NINGÚN CASO UN SERVICIO DE DIAGNÓSTICO MÉDICO, DE ATENCIÓN DE
                                URGENCIAS O DE PRESCRIPCIÓN DE TRATAMIENTOS FARMACOLÓGICOS.
                            </span>
                            <span>
                                Se advierte y pone en conocimiento del USUARIO, que la utilización de la
                                Aplicación
                            </span>
                            <span>
                                no puede en ningún caso sustituir la consulta presencial personal frente a un
                                profesional médico debidamente cualificado.
                            </span>
                        </p>
                    </div>
                </li>
                <li>
                    <span>
                        ¿Quién puede acceder a COVIDTESTER?
                    </span>
                    <div>
                        <p>
                            Cualquier persona que disponga de un ordenador o dispositivo móvil
                            (Smartphone/Tablet) podrá acceder a la Web COVIDTESTER y a todo su
                            contenido.</p>
                        <p>
                            Asimismo, cualquier persona que disponga de un dispositivo móvil
                            (Smartphone/Tablet), con Sistema Operativo Android o iOS compatible, e instale
                            la aplicación COVIDTESTER desde las stores oficiales podrá acceder
                            igualmente tanto al test de autoevaluación, como al contenido divulgativo.
                        </p>
                    </div>
                </li>
            </ol>
        </li>
        <li>
            <div>
                Condiciones de uso de COVIDTESTER
            </div>
            <div>
                <p>
                    El acceso o la utilización de COVIDTESTER implica la aceptación por parte
                    del Usuario de las presentes Condiciones de Uso. No obstante, Departamento de
                    Salud de Gobierno de Navarra podrá establecer condiciones particulares para la
                    contratación o utilización de este servicio.
                </p>
                <p>
                    El acceso para el Usuario es gratuito salvo en lo relativo al coste de conexión
                    a través de la red de telecomunicaciones suministrada por el proveedor de acceso
                    contratado por el Usuario.
                </p>
                <ol>
                    <li>
                        <span>
                            Alta como Usuario y uso de COVIDTESTER
                        </span>
                        <div>
                            <p>
                                Para la utilización de los servicios del COVIDTESTER, es requisito
                                necesario estar registrado como Usuario. Por tanto, el acceso al test de
                                autoevaluación (tanto en la Web como en la Aplicación) implica que te registres
                                previamente y nos facilites una serie de datos básicos para identificarte como
                                Usuario, así como, en su caso, que verifiques tu número de teléfono móvil.
                            </p>
                            <p>
                                El Usuario acepta sin reserva el contenido de las presentes Condiciones de Uso.
                                En consecuencia, el Usuario deberá leer detenidamente las mismas antes del
                                acceso y de la utilización de cualquier servicio del COVIDTESTER bajo su
                                entera responsabilidad.
                            </p>
                            <p>
                                AVISO IMPORTANTE: La utilización tanto de la Web como la Aplicación es gratuita,
                                libre y voluntaria, pero recuerda que no podrás ser Usuario de CoronaTest
                                Navarra si no tienes al menos DIECISEIS AÑOS o cuentas con el consentimiento de
                                tus padres o tutores legales. Si no cumples con este requisito por favor no
                                utilices COVIDTESTER. Los padres, tutores y/o los responsables de los
                                menores de edad o incapaces que utilicen la COVIDTESTER serán
                                responsables por dicho uso.
                            </p>
                            <p>
                                Queda prohibido el suministro de datos falsos y, por tanto, el Usuario deberá
                                identificarse con sus datos reales, actuales y veraces, y mantenerlos
                                actualizados, así como facilitar un número de teléfono móvil de su propiedad
                                para su verificación. En este sentido, el Departamento de Salud de Gobierno de
                                Navarra podrá requerirte información adicional y/o cancelar tu cuenta de Usuario
                                por este motivo, sin previo aviso y sin que ello dé derecho al Usuario a
                                compensación o indemnización alguna.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>
                            Características técnicas de la plataforma COVIDTESTER
                        </span>
                        <div>
                            <p>
                                Todas las comunicaciones con la plataforma COVIDTESTER están cifradas
                                utilizando HTTPS (HTTP over SSL) con conexiones encriptadas.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>
                            Responsabilidades de la utilización de COVIDTESTER
                        </span>
                        <div>
                            <p>
                                El Usuario es enteramente responsable del acceso y correcto uso de la plataforma
                                COVIDTESTER, con sujeción a la legalidad vigente en España, así como a
                                los principios de buena fe, a la moral y al orden público, y con el compromiso
                                de observar diligentemente cualquier instrucción que, en relación con dicho uso
                                y acceso, pudiera serle proporcionado por el Departamento de Salud de Gobierno
                                de Navarra de conformidad con lo previsto.
                            </p>
                            <p>
                                El Usuario está obligado a hacer un uso razonable de la Web, la Aplicación Móvil
                                y sus contenidos, según las posibilidades y fines para los que está concebido.
                            </p>
                        </div>
                    </li>
                    <li>
                        <span>
                            Exención de responsabilidad
                        </span>
                        <div>
                            <p>
                                El Departamento de Salud de Gobierno de Navarra no garantiza el funcionamiento
                                permanente de la Web/Aplicación ni la inexistencia de errores de software,
                                fallos en las comunicaciones y otros problemas de Hardware, no respondiendo en
                                ningún caso de las consecuencias que pudieran derivarse de los mismos para los
                                usuarios.
                            </p>
                            <div>
                                <p>
                                    En ningún caso Servicio Navarro de Salud-Osasunbidea se hace responsable:
                                </p>
                                <ul>
                                    <li>
                                        <p>
                                            De los daños ligados a la imposibilidad temporal de acceder a CoronaTest
                                            Navarra.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            De cualquier daño, perjuicio o pérdida (incluidos por el error o inexactitud de
                                            la información si tales anomalías, se deben, defectos, errores, virus, o
                                            imprecisiones técnicas de la aplicación COVIDTESTER) si tales daños son
                                            causados por errores en dispositivo o en internet y/o por el usuario.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                El Departamento de Salud de Gobierno de Navarra no garantiza la fiabilidad,
                                disponibilidad o continuidad del funcionamiento de la plataforma CoronaTest
                                Navarra, por lo que el usuario excluye al Departamento de Salud de Gobierno de
                                Navarra de cualquier responsabilidad que pueda deberse a la falta de
                                disponibilidad, fiabilidad o continuidad de la plataforma COVIDTESTER y
                                de sus servicios.
                            </p>
                            <p>
                                <span>No obstante, el Departamento de Salud de Gobierno de Navarra
                                    intentará facilitar en la medida de sus posibilidades ayuda técnica al usuario,
                                    por lo que cualquier petición de información o resolución de incidencias, en
                                    relación con la plataforma COVIDTESTER y su funcionamiento, será atendida
                                    en</span>
                                <a href="mailto:CoronaTestNavarra@navarra.es">covidtester.0@gmail.com</a>
                            </p>
                        </div>
                    </li>
                </ol>

            </div>
        </li>
        <li>
            <div>
                Baja de plataforma COVIDTESTER
            </div>
            <div>
                <p>
                    <span>Los Usuarios que deseen darse de baja deberán comunicarlo vía e-mail en</span>
                    <a href="mailto:CoronaTestNavarra@navarra.es">covidtester.0@gmail.com</a>
                </p>
            </div>
        </li>
        <li>
            <div>
                PROPIEDAD INTELECTUAL E INDUSTRIAL
            </div>
            <div>
                <p>
                    El Departamento de Salud de Gobierno de Navarra es el propietario y Titular de
                    todos los derechos de propiedad industrial e intelectual relativos a la Web y la
                    Aplicación para dispositivos móviles COVIDTESTER.
                </p>
                <p>
                    Los textos, diseños, imágenes, bases de datos, logos, estructura, marcas y demás
                    elementos de COVIDTESTER están protegidos por las leyes y los tratados
                    internacionales sobre propiedad intelectual e industrial. Cualquier
                    reproducción, transmisión, adaptación, traducción, modificación, comunicación al
                    público, o cualquier otra explotación de todo o parte del contenido de este
                    sitio, efectuada de cualquier forma o por cualquier medio, electrónico, mecánico
                    u otro, están estrictamente prohibidos salvo autorización previa por escrito de
                    su correspondiente titular o sujeción, de tales contenidos, a licencias de
                    creativecommons, en cuyo caso estarán permitidos los usos que amparen estas
                    licencias según la modalidad de licencia aplicable en cada caso. Cualquier
                    infracción de estos derechos puede dar lugar a procedimientos extrajudiciales o
                    judiciales civiles o penales que correspondan.
                </p>
                <p>
                    En este sentido, se otorga al Usuario únicamente una licencia limitada,
                    temporal, no exclusiva y revocable para que pueda utilizar, descargar y/o
                    instalar COVIDTESTER en sus dispositivos, conforme a lo previsto en estas
                    Condiciones de Uso y para los usos previstos. En todo caso, el Departamento de
                    Salud de Gobierno de Navarra se reserva los derechos no expresamente otorgados
                    al Usuario en virtud de las presentes condiciones.
                </p>
                <p>
                    La legitimidad de los derechos de propiedad intelectual o industrial
                    correspondientes a los contenidos aportados por terceros es de la exclusiva
                    responsabilidad de los mismos.
                </p>
                <p>
                    A los efectos de preservar los posibles derechos de propiedad intelectual, en el
                    caso de que cualquier Usuario o un tercero considere que se ha producido una
                    violación de sus legítimos derechos por la introducción de un determinado
                    contenido en el COVIDTESTER, deberá notificar dicha circunstancia, por
                    escrito, al Titular.
                </p>
            </div>
        </li>
        <li>
            <div>
                Política de privacidad y protección de datos de carácter personal
            </div>
            <div>
                <p>
                    Los datos personales de los Usuarios de COVIDTESTER, serán incorporados
                    al tratamiento “Control y gestión” del Departamento de Salud de Gobierno de
                    Navarra, con domicilio en Calle Tudela 20, 31003 Pamplona, CIF Q3150004D.
                </p>
                <p>
                    Para la gestión del servicio de la Web y la Aplicación móvil COVIDTESTER
                    tratamos las siguientes categorías de datos:
                </p>
            </div>
            <div>
                <ul>
                    <li>
                        <p>
                            Nombre y Apellidos
                        </p>
                    </li>
                    <li>
                        <p>
                            Número de teléfono móvil
                        </p>
                    </li>
                    <li>
                        <p>
                            DNI/NIE + letra
                        </p>
                    </li>
                    <li>
                        <p>
                            CIPNA
                        </p>
                    </li>
                    <li>
                        <p>
                            Edad
                        </p>
                    </li>
                    <li>
                        <p>
                            E-mail de contacto
                        </p>
                    </li>
                    <li>
                        <p>
                            Dirección completa y código postal
                        </p>
                    </li>
                    <li>
                        <p>
                            Género
                        </p>
                    </li>
                    <li>
                        <p>
                            Datos de salud relacionados con los síntomas que estas experimentando. En
                            concreto, con motivo del uso de COVIDTESTER podremos recabar información
                            sobre ti relacionada con la sensación de falta de aire, fiebre de +37ºC y/o tos
                            seca.
                        </p>
                    </li>
                </ul>
            </div>
            <ol>
                <li>
                    <span>
                        Cesión de Datos
                    </span>
                    <div>
                        <p>
                            Los datos recogidos por COVIDTESTER son estrictamente necesarios por
                            razones de interés público ante la actual situación de emergencia sanitaria
                            decretada por las Autoridades Públicas como consecuencia de la pandemia del
                            COVID-19 y la necesidad de su control y propagación, así como para proteger y
                            salvaguardar un interés esencial para tu vida y/o la de terceros.
                        </p>
                        <p>
                            La utilización de COVIDTESTER implica dar acceso a tus datos a:
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Los profesionales sanitarios para que se pongan en contacto directamente contigo
                                    en caso de que, del resultado de la autoevaluación realizada a través de la
                                    Aplicación, se determine que necesitas atención médica ante la posibilidad de
                                    estar infectado por el coronavirus.</p>
                            </li>
                            <li>
                                <p>
                                    Nuestros proveedores y colaboradores, así como a las empresas que estos
                                    subcontraten, los cuales nos ayudan a prestarte los servicios de la Aplicación,
                                    a comunicarnos y estar en contacto contigo.</p>
                            </li>
                        </ul>
                        <p>
                            En cualquier caso, el Departamento de Salud de Gobierno de Navarra siempre
                            garantiza el máximo nivel de protección en el acceso que estos terceros tengan a
                            tus datos e información, asegurando la confidencialidad y el tratamiento seguro
                            de tus datos.
                        </p>
                    </div>
                </li>
                <li>
                    <span>
                        Cuáles son sus derechos
                    </span>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Acceder a sus datos personales.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Solicitar la rectificación de los datos inexactos.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Solicitar su supresión cuando, entre otros motivos, los datos ya no sean
                                    necesarios para los fines que fueron recogidos.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Oponerse al tratamiento de sus datos por motivos relacionados con su situación
                                    particular, solicitando que no sean tratados por el Departamento de Salud de
                                    Gobierno de Navarra.
                                </p>
                            </li>
                            <li>
                                <p>
                                    En determinadas circunstancias, se podrá solicitar la limitación del tratamiento
                                    de sus datos, en cuyo caso únicamente se conservarán para el ejercicio o la
                                    defensa de reclamaciones.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Retirar, el consentimiento prestado, sin que ello afecte a la licitud del
                                    tratamiento que se haya realizado con anterioridad a dicha retirada.
                                </p>
                            </li>
                        </ul>
                        <div>
                            <p>
                                Cuando se ejerciten los derechos de supresión, oposición, limitación o se retire
                                el consentimiento, el Departamento de Salud de Gobierno de Navarra dejará de
                                tratar los datos, salvo por el ejercicio o defensa de posibles reclamaciones.</p>
                            <p>
                                Todos estos derechos se ejercitarán en la siguiente dirección: Departamento de
                                Salud de Gobierno de Navarra, con domicilio en Calle Tudela 20, 31003 Pamplona.
                            </p>
                            <p>
                                Siempre que se ejerciten los derechos expuestos, se deberá de acompañar a la
                                solicitud una copia del DNI o documento equivalente que permita comprobar la
                                identidad.
                            </p>
                            <p>
                                Asimismo, si no está conforme con cómo se han atendido sus derechos, podrá
                                presentar una reclamación ante la Agencia Española de Protección de Datos a
                                través de su página web.
                            </p>
                        </div>
                    </div>
                </li>
            </ol>
        </li>
        <li>
            <div>
                Enlaces
            </div>
            <div>
                <p>
                    COVIDTESTER puede incluir dentro de sus contenidos enlaces con sitios
                    pertenecientes y/o gestionados por terceros con el objeto de facilitar el acceso
                    a información y servicios disponibles a través de Internet.
                </p>
                <p>
                    El Titular no asume ninguna responsabilidad derivada de la existencia de enlaces
                    entre los contenidos de COVIDTESTER y contenidos situados fuera de los
                    mismos o de cualquier otra mención de contenidos externos a este sitio. Tales
                    enlaces o menciones tienen una finalidad exclusivamente informativa y, en ningún
                    caso, implican el apoyo, aprobación, comercialización o relación alguna entre el
                    Titular y las personas o entidades autoras y/o gestoras de tales contenidos o
                    titulares de los sitios donde se encuentren, ni garantía alguna del Titular por
                    el correcto funcionamiento de los sitios o contenidos enlazados.
                </p>
                <p>
                    En este sentido el Usuario se obliga a poner la máxima diligencia y prudencia en
                    el caso de acceder o usar contenidos o servicios de los sitios a los que acceda
                    en virtud de los mencionados enlaces.
                </p>
            </div>
        </li>
        <li>
            <div>
                Hiperenlaces
            </div>
            <div>
                <p>
                    No se admite la reproducción de páginas de COVIDTESTER mediante
                    hiperenlace desde otra aplicación o página web, permitiéndose exclusivamente el
                    acceso a los mismos.
                </p>
                <p>
                    En ningún caso se podrá dar a entender que el Titular autoriza el hiperenlace o
                    que ha supervisado o asumido de cualquier forma los servicios o contenidos
                    ofrecidos por la web desde la que se produce el hiperenlace.
                </p>
                <p>
                    No se podrán realizar manifestaciones o referencias falsas, incorrectas o
                    inexactas sobre las páginas y servicios del Titular.
                </p>
                <p>
                    Se prohíbe explícitamente la creación de cualquier tipo de navegador, programa,
                    browser o border environment sobre las páginas de COVIDTESTER.
                </p>
                <p>
                    No se podrán incluir contenidos contrarios a los derechos de terceros, ni
                    contrarios a la moral y las buenas costumbres aceptadas, ni contenidos o
                    informaciones ilícitas, en la página web desde la que se establezca el
                    hiperenlace.
                </p>
                <p>
                    La existencia de un hiperenlace entre una página web y COVIDTESTER no
                    implica la existencia de relaciones entre el Titular y el propietario de esa
                    página, ni la aceptación y aprobación de sus contenidos y servicios.
                </p>
            </div>
        </li>
        <li>
            <div>
                Ley aplicable
            </div>
            <div>
                <p>
                    Las presentes Condiciones de Uso se regirán e interpretarán en todos y cada uno
                    de sus extremos por la Ley Española. En aquellos casos en los que la normativa
                    vigente no prevea la obligación de someterse a un fuero o legislación
                    determinado, el Departamento de Salud de Gobierno de Navarra y los Usuarios, con
                    renuncia a cualquier otro fuero que pudiera corresponderles, se someten a los
                    juzgados y tribunales de la Comunidad Foral de Navarra.
                </p>
            </div>
        </li>
    </ol>
</div>

{% include 'inferior.html' %}