{% load static %}
{% include 'superior.html' %}
<!--
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
 __  .__   __.  __    ______  __    ______   
|  | |  \ |  | |  |  /      ||  |  /  __  \  
|  | |   \|  | |  | |  ,----'|  | |  |  |  | 
|  | |  . `  | |  | |  |     |  | |  |  |  | 
|  | |  |\   | |  | |  `----.|  | |  `--'  | 
|__| |__| \__| |__|  \______||__|  \______/  

 Este archivo será la página de inicio de la app.
 Carga contenido estático.
 Incluye cabecera y pié.

 Contiene: 
 - Sección banner
 - Sección contenido principal (Vacía, al menos por ahora)
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------
-->

<!-- Banner -->
<section id="banner" style="padding-top: 5em;">
    <h2>COVIDTESTER</h2>
    {% if resultado %}
        {% if resultado == "positivo" %}
            {% if contacto == True %}
                <h3 style="color: red;">Profesionales sanitarios contactarán con usted lo antes posible.</h3>
            {% else %}
                <h3 style="color: red;">Profesionales sanitarios no contactarán con usted.</h3>
            {% endif %}
        {% endif %}
        <p>En la nueva página que se le ha abierto puede ver consejos sobre como actuar.</p>
        <p>Si usted u otra persona desea realizar el test de nuevo puede hacerlo aquí: </p>
    {% else %}
        <h3>Si tienes síntomas de coronavirus SARS CoV-2 o has estado en contacto con una persona afectada deberías hacer un control y seguimiento diario de tus síntomas.</h3>
        <p>Aquí puedes encontrar nuestro test online gratuito:</p>
    {% endif %}
    
    <ul class="actions">
        <li>
            <a href="{% url 'preAutoTest' %}" class="button special">Hacer test</a>
        </li>
    </ul>
</section>

<!-- Main -->
<section id="main" class="container" style="text-align: center; padding-top: 0; padding-bottom: 0;">
    <table class="table table-hover table-dark" > <!-- style="font-size: 2em;" QUE PASA CON EL BORDER-RADIUS?????? -->
        <thead style="background-color: #EDF0F3;">
            <tr>
                <th scope="col" style="text-align: center;">Confirmados</th>
                <th scope="col" style="text-align: center;">Hospitalizados</th>
                <th scope="col" style="text-align: center;">Muertes</th>
                <th scope="col" style="text-align: center;">Recuperados</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{confirmados}}</td>
                <td>{{hospitalizados}}</td>
                <td>{{muertes}}</td>
                <td>{{recuperados}}</td>
            </tr>
            <tr style="color: yellow;">
                <td colspan="4"><i>Información del Ministerio de Sanidad Gobierno de España, datos de Navarra. Última actualización: {{fecha_actualizacion}}</i></td>
            </tr>
        </tbody>
    </table>
</section>

{% include 'inferior.html' %}